
.DLObjects .dlobjectnormal {
  background-color: #181818;
}

.DLObjects .dlobjectyellow {
  background-color: #FDB92C;
}

.DLObjects .dlobjectgreen {
  background-color: #57A728;
}

.DLObjects .dlobjectred {
  background-color: #FC0E2D;
}
