
.Admin {
  background-color: white;
}

.Admin .content {
  width: 50%;
  padding: 80px 0;
  text-align: center;
  left: 300px;
  right: 0;
  position: relative;
  bottom: 0;
  display: block;
  top: 56px;
}

.Admin .content h1 {
  font-weight: 600;
}

.Admin .content p {
  color: #999;
}

.Admin .something {
  list-style: none;
}

.Admin .usernormal {
  background-color: #181818;
}

.Admin .useryellow {
  background-color: #fdb92c;
}

.Admin .usergreen {
  background-color: #57a728;
}

.Admin .userred {
  background-color: #fc0e2d;
}

.abdhs {
  display: inline-block;
  position: absolute;
}

.a {
  left: 0;
}

.b {
}
