
.Admin {
  background-color: white;
}

.Admin .content {
  top: 80px;
  width: 70%;
  text-align: center;
  display: inline-block;
  position: relative;
}

.Admin .content p {
  color: #999;
}

.Admin .something {
  list-style: none;
}

.abdhr {
  display: inline-block;
  width: 100%;
}

.abdhs {
  display: inline-block;
  left: 20px;
  float: left;
}

.abdht {
  display: inline-block;
  right: 20px;
  float: right;
}
