
.Configuration {
  left: 30px;
  top: 80px;
  width: 200px;
  position: relative;
  text-align: left;
  display: inline-block;
  float: left;
}

.Configuration li {
  height: 30px;
}

li {
  list-style: none;
}
