
.UserDetail {
  background-color: #ffffff;
}

.UDRow {
  border-bottom: 1px solid rgba(208, 208, 208, 0.4);
  text-align: left;
  font-weight: 400;
}

.UDSummary {
  width: 658px;
  margin-left: 232px;
  position: relative;
  background-color: #f9f9f9;
}

.UDIcon {
  height: 124px;
  width: 212px;
  background-color: #fc0e2d;
  position: relative;
  display: inline;
}

.UDSumCont {
  vertical-align: top;
  display: flex;
}

.UDControls {
  position: absolute;
  right: 2px;
}

.UDt2 {
  width: 80%;
  position: relative;
}

.UDt3 {
  /*width: 300px;*/
  /*position: relative;*/
}

.UDt5 {
  /*position: relative;*/
}

.field {
  float: left;
  overflow: hidden;
  width: 250px;
}

.field-title {
  color: #cccccc;
  font-weight: 300;
}
