
.UserDetail {
  background-color: #f9f9f9;
  /*top: 56px;*/
  position: absolute;
  bottom: 0;
}

.UDRow {
  border-bottom: 1px solid rgba(208, 208, 208, 0.4);
  text-align: left;
  font-weight: 400;
}

.UDAttribs {
}

.UDSummary {
  width: 658px;
  margin-left: 232px;
  position: relative;
}

.UDIcon {
  height: 124px;
  width: 212px;
  background-color: #fc0e2d;
  position: relative;
  display: inline;
}

.UDSumCont {
  vertical-align: top;
}

.UDControls {
  position: absolute;
  right: 2px;
  /*top: 8px;*/
}

.emk_t3 {
  visibility: hidden;
}

.emk_t4 {
}

.emk_t5 {
  position: relative;
  width: 758px;
  margin-left: 232px;
}
