
.gb_xc {
  background-color: white;
  height: 64px;
  display: block;
}

.gb_Cd {
  width: 100%;
}

.gb_yc {
  height: 48px;
  vertical-align: middle;
  white-space: nowrap;
  align-items: center;
  display: flex;
}

.gb_yd {
  z-index: 986;
}

.gb_Nd {
  display: block;
}

.gb_Ie {
  height: 48px;
}

.gb_Td {
  padding-right: 32px;
  box-sizing: border-box;
}

.gb_2e {
  background: none;
  line-height: 0;
}

.AdminTitle {
  color: white;
}

.gb_8b {
  float: right;
}

.Login {
  float: right;
}

header {
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-bottom-width: 1px;
}
