
.gb_xc {
    background-color: #3367d6;
    height: 64px;
    display: block;
    min-width: 320px;
}

.gb_Cd {
    position: fixed;
    width: 100%;
    top: 0;
}

.gb_yc {
    height: 48px;
    vertical-align: middle;
    white-space: nowrap;
    align-items: center;
    display: flex;
}

.gb_yd {
    font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
    z-index: 986;
}

.gb_Nd {
    display: block;
}

.gb_Ie {
    position: relative;
    height: 48px;
}

.gb_Td {
    padding-right: 32px;
    box-sizing: border-box;
}

.gb_Bd {
    padding: 8px;
}

.gb_2e {
    background: none;
    border: none;
    padding: 0 4px;
    line-height: 0;
}

.AdminTitle {
    color: white;
}
