
.gb_xc {
  background-color: white;
  height: 64px;
  display: block;
  min-width: 100%;
}

.gb_Cd {
  position: fixed;
  width: 200px;
  top: 0;
}

.gb_yc {
  height: 48px;
  vertical-align: middle;
  white-space: nowrap;
  align-items: center;
  display: flex;
}

.gb_yd {
  font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
  z-index: 986;
}

.gb_Nd {
  display: block;
}

.gb_Ie {
  position: relative;
  height: 48px;
}

.gb_Td {
  padding-right: 32px;
  box-sizing: border-box;
}

.gb_Bd {
  padding: 8px;
}

.gb_2e {
  background: none;
  padding: 0 4px;
  line-height: 0;
}

.AdminTitle {
  color: white;
}
