
.Loading {
  background-color: rgba(53, 99, 115, 1);
  border-color: #a8cbd7;
  visibility: hidden;
  z-index: 10000;
  position: relative;
  width: 100px;
  padding: 4px;
  margin: auto;
  color: white;
  font-size: 12px;
}
