
.Loading {
  background-color: rgba(250, 128, 114, 0.85);
  border-color: rgba(250, 128, 114, 1);
  visibility: hidden;
  z-index: 10000;
  position: relative;
  width: 100px;
  padding: 4px;
  margin: auto;
  color: white;
}
