
.Loading {
  background-color: #e23636;
  border-color: #ef8f8f;
  visibility: hidden;
  z-index: 10000;
  position: relative;
  width: 100px;
  padding: 4px;
  margin: auto;
  color: white;
  font-size: 12px;
}
