
.DLObject {
  background-color: black;
}

.DLObject .lander {
  padding: 80px 0;
  text-align: center;
}

.DLObject .lander h1 {
  font-weight: 500;
}

.DLObject .lander p {
  color: #999;
}

.DLObject .something {
  list-style: none;
}

.DLObject .dlobjects {
  height: 100px;
  width: 100px;
  padding: 5px;
  display: inline-block;
  opacity: 0.85;
}
