@font-face {
	font-family: ***REMOVED***Brand-Light;
	src: url('fonts/***REMOVED***Brand-Light.otf');
}

@font-face {
	font-family: ***REMOVED***Brand-Regular;
	src: url('fonts/***REMOVED***Brand-Regular.otf');
}

@font-face {
	font-family: ***REMOVED***Brand-Bold;
	src: url('fonts/***REMOVED***BrandL1-Bold.ttf');
}
