//	FONTS
$***REMOVED***-light: '***REMOVED***Brand-Light';
$***REMOVED***-regular: '***REMOVED***Brand-Regular';
$***REMOVED***-bold: '***REMOVED***Brand-Bold';

// FONT SIZES
$font-xxxl: 108px;
$font-xxl: 36px;
$font-xl: 24px;
$font-l: 20px;
$font-m: 15px;
$font-ms: 14px;
$font-s: 12px;
$font-xs: 11px;
$font-xxs: 10px;

// KERNING etc
$letter-spacing-xl: 12px;
$letter-spacing-l: 4px;
$letter-spacing-m: 1px;
$letter-spacing-sm: 2px;
$letter-spacing-s: 3px;

$line-height-xl: 44px;
$line-height-l: 28px;
$line-height-m: 24px;
$line-height-ms: 22px;
$line-height-s: 18px;
$line-height-xs: 13px;

//  COLOR PALETTE
$grey-light: #ffffff;
$grey-medium: #ebebeb;
$grey-med: #9b9b9b;
$grey-dark: #dadada;
$blue: blue;
$red: red;
$black: #282828;
$white: white;

//  PADDING & MARGINS
$gutter: 44px;
$spacer-vertical-top-small: 80px;
$spacer-vertical-top: 150px;
$spacer-vertical-top-desktop: 200px;
$spacer-vertical: 40px;
$slide-spacing: 160px;
$desktop-section-top-padding: 15px;
$header_height: 42px;
$content-width--desktop: 33%;
$hero-cta-margin: 100px;
$section-icon-margin-top: 120px;
$section-icon-margin-bottom: 36px;
$next-chapter-cta-width: 234px;
$next-chapter-cta-margin-bottom: 56px;
$breadcrumbs-width: 66px;
$breadcrumb-height: 6px;
$center-column-max-width: 430px;
