//@import 'reset';
//@import 'variables';
//@import 'breakpoints';
@import 'fonts';

* {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 100;
}

a {
  color: #00b7ff;
}

body {
  margin: 0;
  padding: 0;
}

